<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 4 + 1 + 5 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae maiores dicta eius laboriosam corrupti libero 
        error id amet, enim, repellendus asperiores ullam! Officia totam aspernatur corrupti minus, cupiditate accusamus 
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolore laboriosam eius nulla magni repudiandae
        delectus rerum dolores ratione accusamus eos minima voluptate et, reprehenderit culpa est totam obcaecati
        officiis.
    </p>
</body>

</html>