<%- include('partials/head') %>


    <%- include('partials/navbar') %>
    <h1>The Home Page <%= 'Hi everyone'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae maiores dicta eius laboriosam corrupti libero 
        error id amet, enim, repellendus asperiores ullam! Officia totam aspernatur corrupti minus, cupiditate accusamus 
        similique.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolore laboriosam eius nulla magni repudiandae
        delectus rerum dolores ratione accusamus eos minima voluptate et, reprehenderit culpa est totam obcaecati
        officiis.
    </p>
<%- include('partials/footer') %>