h1 {
    color: indigo;
    background-color: rgb(255,255,255);
}

h2 {
    color: teal;
    background-color: darksalmon;
}

p {
    color: antiquewhite;
    background-color: rgb(128, 128, 128);
}

button {
    color: blueviolet;
    background-color: #5FCFFC;
}

body {
    background-color: #000;
}