h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: #f8012f underline wavy;
    letter-spacing: 12px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}
