section {
    width: 500px;
    height: 500px;
    background-color: blueviolet;
}
/*hex colors can be made transparent as well 
with additional two digits at the end 
ex: #00cca0b9 */
#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,255,0.7);
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: greenyellow;
    opacity: 0.5;
}
/*opacity is the degree to which content behind
an element is hidden; applies to the element in 
its entirety*/